<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: head}"></head>
<body>

<div th:replace="~{base :: logo}"></div>
<div th:replace="~{base :: topo-cliente}"></div>


<div class="container mb-5">

	<div class="card mt-3 border-info">
		<div class="card-header">Deposito</div>
		<form th:object="${requisicaoTransferencia}" class="card-body" th:action="@{/cliente/transferir}" method="POST">
			<div class="form-group">
				<label for="numCartao">Número do cartão</label>
				<input th:field="*{numCartao}" th:errorclass="is-invalid" class="form-control" placeholder="numCartao"/>
				<small>Informe qual o cartão do cliente.</small>
				<div class="invalid-feedback" th:errors="*{numCartao}">
					Erros no número do numCartao
				</div>
			</div>
			<div class="form-group">
				<label for="valor">Valor do Saque</label>
				<input th:field="*{valor}" th:errorclass="is-invalid" class="form-control" placeholder="valor"/>
				<small>Informe qual o valor do saque.</small>
				<div class="invalid-feedback" th:errors="*{valor}">
					Erros no valor
				</div>
			</div>
			<button class="btn btn-primary" type="submit">Transferir</button>
		</form>
	</div>

</div>
</body>
</html>